/* Universal Doc Styling  */


body  {
  font-family: "Laila", serif;
  text-align: center;
  border: 5px solid Snow;
  }

/* Header */
.header {
  position: relative;
  background-image: url("Brushes.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
  color: Ivory;
  
}

header h1 {
  font-size: 50px;
  font-weight: 700;
  padding-top: 80px;
  margin-bottom: 50px;  
}

header h2 {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 50px; 
}

/* Navigation Section */

nav ul {
  overflow: hidden;
  background-color: Black;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: Snow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #222;
}


/* Main - Profile Picture and Bio Section */
main {
  background-color: Plum;
}


/* Footer Section */

