/* Universal Doc Styling  */



body  {
  font-family: "Laila", serif;
  text-align: center;
  border: 5px solid Snow;
  }

/* Header */
.header {
  position: relative;
  background-image: url(../images/Brushes.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  color: Ivory;
  
}

header h1 {
  font-size: 50px;
  font-weight: 700;
  padding-top: 80px;
  margin-bottom: 50px;  
}

header h2 {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 50px; 
}

/* Navigation Section */

nav ul {
  overflow: hidden;
  background-color: Black;
}

nav li {
  float: left;
}

nav a {
  border-left: 6px solid Red;
  display: block;
  color: Snow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #222;
}

/* Main - Profile Picture and Bio Section */
#page1 {
  background-color: LavenderBlush;
  height: 600px;
  border: 75px solid Moccasin;
  border-top: 0;
  border-bottom: 75px;
  column-count: 2;
  padding-top: 100px;
}

#page1 img {
  border: 6px solid Black;
  height: 350px;
}



#page1 h1 {
  font-size: 26px;
  font-weight: 700;
  text-align: justify;
  padding-right: 75px;
  padding-bottom: 5px;
}

#page1 hr {
  width: 25%;
  display: block;
  height: 5px;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  padding-bottom: 25px;
}

#page1 p {
  font-size: 16px;
  text-align: left;
  padding-right: 75px;
  line-height: 1.4;
}

/* Footer Section */
footer {
  background-color: Moccasin;
  font-style: italic;
}


/* Contact Page */

#page2 {
  background-color: LavenderBlush;
  height: 600px;
  border: 75px solid Moccasin;
  border-top: 0;
  border-bottom: 75px;
  padding-top: 75px;
}

#page2 h1 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 50px;
}

#page2 h2 {
  font-size: 18px;
  padding-bottom: 50px;
}

#page2 input, #page2 textarea {
  border: 3px solid grey;
  font-size: 14px;
  margin-bottom:10px;
  width: 450px;
}

#page2 input {
  height: 30px;
}

#page2 textarea {
  height: 100px;
}

#page2 #button {
  width: 100px;
  margin-right: 360px;
  background-color: Purple;
  color: Snow;
}

#page2 #button:hover {
  background-color: DimGrey;
}

