/* Universal Doc Styling  */



body  {
  font-family: "Laila", serif;
  text-align: center;
  border: 5px solid Snow;
  }

/* Header */
.header {
  position: relative;
  background-image: url("../images/wood.jpeg");
  background-position: center;
  background-size: cover;
  height: 300px;
  color: Ivory;
  
}

header h1 {
  font-size: 50px;
  font-weight: 700;
  padding-top: 80px;
  margin-bottom: 50px;  
}

header h2 {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 50px; 
}

/* Navigation Section */

nav ul {
  overflow: hidden;
  background-color: Black;
}

nav li {
  float: left;
}

nav a {
  border-left: 6px solid Purple;
  display: block;
  color: Snow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover, .dropdown:hover {
  background-color: #222;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: Snow;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #222;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Main - Profile Picture and Bio Section, Also Education Page */
#page1, #page4 {
  background-color: LavenderBlush;
  height: 500px;
  border: 75px solid Silver;
  border-top: 0;
  border-bottom: 75px;
  column-count: 2;
  padding-top: 100px;
}

#page1 img, #page4 img {
  border: 6px solid Black;
  height: 350px;
}



#page1 h1, #page4 h1 {
  font-size: 26px;
  font-weight: 700;
  text-align: justify;
  padding-right: 75px;
  padding-bottom: 5px;
}

#page1 hr, #page4 hr {
  width: 25%;
  display: block;
  height: 5px;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  padding-bottom: 25px;
}

#page1 p, #page4 p {
  font-size: 16px;
  text-align: left;
  padding-right: 75px;
  line-height: 1.4;
}

#page4 p {
  list-style-position: inside;
  display: list-item;
  list-style-type: disc;
}

#page4 h2 {
  font-size: 20px;
  text-align: left;
}

/* Footer Section */
footer {
  background-color: Silver;
  font-style: italic;
}


/* Contact Page and Some Continuing Education Page */

#page2, #page3, #page5, #page6 {
  background-color: LavenderBlush;
  height: 600px;
  border: 75px solid Silver;
  border-top: 0;
  border-bottom: 75px;
  padding-top: 75px;
}

#page2 h1, #page3 h1, #page5 h1, #page6 h1 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 50px;
}

#page2 h2, #page3 h2 {
  font-size: 18px;
  padding-bottom: 35px;
}

#page3 h2 {
  float: left;
  display: block;
  padding-left: 10px;
  text-decoration: underline;
}

#page2 input, #page2 textarea {
  border: 3px solid grey;
  font-size: 14px;
  margin-bottom:10px;
  width: 450px;
}

#page2 input {
  height: 30px;
}

#page2 textarea {
  height: 100px;
}

#page2 #button {
  width: 100px;
  margin-right: 360px;
  background-color: Purple;
  color: Snow;
}

#page2 #button:hover {
  background-color: DimGrey;
}


/*Continue Page */

.continue {
  height: 25%;
}

.date_lists {
  height: 75%;
  width: 98%;
}

#page3 li, #page5 li, #page6 li{
  list-style: circle;
  padding: 5px;
  margin-left: -200px;
  text-align: left;
}


.first, .edu {
  width: 100%;
  height: 25%;
  column-count: 2;
  border: 5px solid purple;
  text-align: left;
  padding: 10px;
  padding-right: 0;
}

.first {
  border-bottom: 0;
}

/* Organ Page and Research Page*/

.organ, .research{
  height: 10%;
}

#page5 lh, #page6 lh {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin-left: -220px;
}

#page5 h2, #page6 h2{
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 3px;
  line-height: 1.4;
}

#page5 i, #page6 i{
  font-size: 14px;
  font-style: italic;
}

#page6 h2 {
  padding-bottom: 30px;
}

#page6 .edu, #page6 .first{
  height: 40%;
}

#page6 li {
  padding-top: 10px;
}

#page6 {
  height: 500px;
}